# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
boggle.sdf
boggle.sln
*.vcxproj
boggle.suo
boggle/boggle.vcxproj.user
*.filters
boggle/Debug/boggle.Build.CppClean.log
*.manifest
boggle/Debug/boggle.exe.embed.manifest.res
*.lastbuildstate
boggle/Debug/boggle.log
*.obj
boggle/Debug/boggle.pch
*.cache
boggle/Debug/boggle.write.1.tlog
*.rc
boggle/Debug/cl.command.1.tlog
boggle/stdafx.cpp
boggle/stdafx.h
boggle/targetver.h
